body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('/fondo/pollin.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    max-width: 500px;
    margin: 70px auto;
    
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"], input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4c6176;
    color: #000000;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
input[type="submit"]:hover {
    background-color: #862626;
}
.register-link {
    text-align: center;
    margin-top: 10px;
}
.register-link a {
    color: #26405c;
    text-decoration: none;
}

